.states[iso_a2=SN] {
	fill: 'rgb(41, 255, 0)';
}
.states[iso_a2=MR] {
	fill: 'rgb(108, 255, 0)';
}
.states[iso_a2=NE] {
	fill: 'rgb(175, 255, 0)';
}
.states[iso_a2=BF] {
	fill: 'rgb(242, 255, 0)';
}
.states[iso_a2=NG] {
	fill: 'rgb(242, 255, 0)';
}
.states[iso_a2=TD] {
	fill: 'rgb(255, 200, 0)';
}
.states[iso_a2=DZ] {
	fill: 'rgb(255, 200, 0)';
}
.states[iso_a2=GH] {
	fill: 'rgb(255, 200, 0)';
}
.states[iso_a2=BJ] {
	fill: 'rgb(255, 200, 0)';
}
.states[iso_a2=CF] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=ZW] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=TN] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=MZ] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=PH] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=MW] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=SS] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=SL] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=SO] {
	fill: 'rgb(255, 133, 0)';
}
.states[iso_a2=ET] {
	fill: 'rgb(255, 66, 0)';
}
.states[iso_a2=GA] {
	fill: 'rgb(255, 66, 0)';
}
.states[iso_a2=AO] {
	fill: 'rgb(255, 66, 0)';
}
.states[iso_a2=CD] {
	fill: 'rgb(255, 66, 0)';
}
.states[iso_a2=ID] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=NA] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=EH] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=UG] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=GN] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=LA] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=ER] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=CG] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=LR] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=MY] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=TZ] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=CM] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=OM] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=MA] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=PA] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=BI] {
	fill: 'rgb(255, 0, 0)';
}
.states[iso_a2=ML] {
	fill: 'rgb(0, 192, 255)';
}
